<html>
    <head>
         <title>Barb's blog</title>
    </head>
       
    <body>
        <div>
            <h1><a href="">Barb's Blog</a></h1>
        </div>

        <div>
            <p>published: September 4,2016</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post</p>
        </div>

	<div
           <p>published: September 4,2016</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my second post</p>
        </div>
    </body>
</html>
